exportPattern("^[[:alpha:]]+")
import(myPackage)
import("dplyr")
import("tidyr")
import("tibble")
import("tidytext")
import("tidyverse")
import("textdata")
import("sentimentr")
import("zoo")
import("wordcloud")

